{
    "presets": [
        "env",
        "react",
        "flow"
    ],
    "plugins": [
        "flow-react-proptypes",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-flow-strip-types",
        "transform-object-rest-spread"
    ]
}